# Project-Specific
data/*
push.sh
notebooks/notes.qmd
docs/gis630/*
docs/articles/*
benton-tripp.github.io/
.ssh/*
notebooks/nul
docs/archive/*


# Keep these data files
!data/NC.txt
!data/OR.txt
!data/CO.txt
!data/VT.txt
!data/canopy/*

data/canopy/nlcd_2016_treecanopy_2019_08_31/*


# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
